.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  border-bottom: 1px solid #1b3a5f80;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left {
  gap: 0.5rem;
}

.logo {
  width: 1.75rem;
  height: 1.75rem;
  color: #1b3a5f;
}

.header {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #1b3a5f;
}

.nav-right {
  gap: 0.75rem;
}

.nav-left li {
  list-style: none;
}

.nav-right li {
  list-style: none;
}

.need-service-btn {
  background: transparent;
  padding: 8px 16px;
  border-radius: 8px;
  color: #171d26;
}

.need-service-btn:hover {
  background: orange;
}

.pro-btn,
.join-as-a-pro-btn {
  border: 1px solid #dee2e8;
  padding: 8px 16px;
  border-radius: 8px;
}

.pro-btn:hover,
.join-as-a-pro-btn:hover {
  background-color: orange;
  color: #171d26;
}

.getting-started,
.request-service-btn {
  background-color: rgb(27, 58, 95);
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 8px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em 3em;
  gap: 1rem;
  width: 100%;
  background: #f9fafb;
}

.heading {
  font-size: 3.75rem;
}

.veteran-business-badge {
  color: #171d26;
  font-weight: 500;
  line-height: 1rem;
  padding: 0.2rem 0.625rem;
  font-size: 0.75rem;
  background-color: #f0b42833;
  border-radius: 6px;
}

.title {
  display: block;
}

.subtitle {
  color: #1b3a5f;
}

.details-text {
  display: block;
  min-width: 425px;
  max-width: 50%;
  line-height: 1.625rem;
  color: #67717e;
  font-size: 18px;
}

.available-options-container {
  display: flex;
  gap: 10px;
}

.veteran-business-badge,
.request-service-btn {
  display: flex;
  align-items: center;
}

.request-service-btn {
  gap: 10px;
}

.award-badge,
.request-service-arrow {
  height: 1rem;
  width: 1rem;
}

@media (max-width: 1023px) {
  .heading {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .need-service-btn,
  .pro-btn,
  .join-as-a-pro-btn-container {
    display: none;
  }

  .heading {
    font-size: 36px;
  }
}
